# Large geospatial datasets
*.tif
*.tiff

# PyCharm
.idea/

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Large raw spatial datasets
Data/Raw/HydroRIVERS_v10_as.gdb/